body {
	font-family: Arial, sans-serif;
	background: linear-gradient(120deg, #f0f4f8, #d9e8f5);
	color: #333;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

h5 {
	font-size: 1.5rem;
	margin-bottom: 20px;
	color: #0056b3;
	text-align: center;
	font-weight: bold;
}

.fieldset-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

fieldset {
	border: 1px solid #c0c0c0;
	border-radius: 6px;
	padding: 15px;
	flex: 1 1 calc(50% - 20px);
	min-width: 250px;
	background-color: #f9fafb;
	box-sizing: border-box; 
}

legend {
	font-weight: bold;
	font-size: 1rem;
	color: #0056b3;
}

.form-group {
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box; 
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input,
select {
	width: 100%;
	padding: 10px;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	font-size: 1rem;
	background: #f7f7f7;
	box-sizing: border-box; 
}

input:disabled,
input[readonly] {
	background: #e9ecef;
}

input:focus,
select:focus {
	border-color: #0056b3;
	outline: none;
}

button {
	width: 100%;
	padding: 12px;
	font-size: 1rem;
	color: #fff;
	background-color: #0056b3;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #004494;
}

button:active {
	transform: scale(0.98);
}

button:focus {
	outline: none;
}

button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

/* Modal background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.modal-info{
  display: block;
}
.modal-loader{
  display: none;
}
.modal-announcement{
  display: none;
}

/* Buttons container to align them on the same line */
.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}


button {
  padding: 10px 20px;
  background-color: #004494;
  color: white;
  border: none;
  cursor: pointer;
  flex: 1; 
}

button#confirm-cancel {
  background-color: #f44336;
}

button:hover {
  opacity: 0.9;
}


@media (max-width: 768px) {
	.fieldset-container {
		flex-direction: column; /
	}

	fieldset {
		flex: 1 1 100%; 
	}
}
.custom-dropdown {
	position: relative;
	/* display: inline-block; */
  }
  
.dropdown-button {
	padding: 10px;
	font-size: 1rem;
	background-color: #0056b3;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.dropdown-content {
	width: -moz-available;         
    width: -webkit-fill-available; 
	display: none;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	min-width: 200px;
	z-index: 1;
	max-height: 200px;
	overflow-y: auto;
	border-radius: 4px;
	margin-top: 10px;
}

.dropdown-content div {
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 8px 12px;
	cursor: pointer;
}

.dropdown-content div:hover {
	background-color: #f1f1f1;
}

.dropdown-content img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.show {
	display: block;
}
